<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018 Boris Fox, REDCOM-Internet CJSC
  ~ All rights reserved.
  -->

<configuration>
	<property name="LOG_FILE" value="C:/Users/boris/IdeaProjects/REDCOM Spring JDBC Utility Library/log/test.log"/>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<logger name="ROOT" level="WARN" additivity="false">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</logger>
	<logger name="ru.redcom.software" level="TRACE" additivity="false">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</logger>
</configuration>
